*{
    margin: 0;
    padding: 0;
    
    
}
body{
    background:  hsl(30, 38%, 92%);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:97vh;
}
.card{
    display:flex;
    width:40%;
    border-radius:5px;
    background: hsl(0, 0%, 100%);
    overflow: hidden;
}
.card-image,.card-content{
    width:50%;
}
img{
    width:100%;
    height: 100%;
}
.card-content{
    font-family: 'Montserrat', sans-serif;
    margin:2rem;
}

.card-content .tag{
    display: block;
    letter-spacing: 0.5rem;
    margin:2rem 1rem;
    color:hsl(228, 12%, 48%);
    font-size: 12px;
    font-weight: 500;
}

.card-content h1{
 font-family: 'Fraunces', serif;
 margin:1rem;
}
.card-content p{
    color:hsl(228, 12%, 48%);
    margin:1rem;
}
.offer-price{
    color:hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 2rem;
    margin:1rem;
}

.real-price{
    margin: 0;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

.cart-btn{
    background:hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    padding:0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    margin:1rem;
}
.cart-link{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    margin:0.5rem;
}
.cart-btn:hover{
    box-shadow: 8px 10px 18px hsl(158, 36%, 37%);
}
.attribution{
    text-align: center;
    color:hsl(228, 12%, 48%);
}
.attribution a{
    text-decoration: none;
}
/* smartphones and extra small devices */
@media only screen and (max-width: 600px)  {
    .container{
        height: 100vh;
    }
    .card{
        flex-direction: column;
        
        width: 100%;
        align-items:center ;
        
        
    }
    .card-image,.card-content{
        width:100%;
        
    }
    .card-image{
        height:250px;
    }
    img{
        width: 100%;
       
        object-fit: cover;
    }
    .card-content .tag{
        margin:0 1rem;
    }
    .card-content h1{
        font-family: 'Fraunces', serif;
        margin:0.5rem;
       }
       .card-content p{
        color:hsl(228, 12%, 48%);
        margin:0.5rem;
    }
    .offer-price{
        color:hsl(158, 36%, 37%);
        font-weight: 700;
        font-size: 2rem;
        margin:0.5rem 1rem;
    }
    .cart-btn{
        background:hsl(158, 36%, 37%);
        color: hsl(0, 0%, 100%);
        padding:0.5rem 1rem;
        border-radius: 5px;
        text-align: center;
        font-weight: 700;
        margin:1rem 1rem 0;
    }
}
@media screen and (max-width:870px) {
    .card{
        width:100%;
    }

}
@media screen and (max-width:1200px) {
    .container{
        height: 100vh;
    }
    .card{
        width:70%;
    }
}